.skills {
  position: relative;
  display: flex;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 30vh;
  padding: 0 1.2rem 0 1.2rem;
  line-height: 2.5rem;
}
.skills__title {
  font-family: Inter;
  text-align: center;
  margin-top: 3rem;
  color: #0a0a14;
  font-size: 3rem;
  font-weight: 500;
}
